@import '../../global.scss';

.works {
  background: linear-gradient(to right,#3e6861,#3d605a );
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;
    @include mobile{
      top:520px;
    }

    &.left {
      left: 100px;
      transform: rotateY(180deg);
    }

    &.right {
      right: 100px;
      // @include mobile{
      //   right:10px;
      // }

    }
  }
  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    @include mobile{
    height:300px;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 700px;
        height: 100%;
        background-color: #fff;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        display: flex;

        .left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;

          justify-content: center;

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;
            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: rgb(255, 255, 255);
              display: flex;
              align-items: center;
              justify-content: center;


              img {
                width: 25px;
              }

            }
            h2 {
              font-size: 20px;
@include mobile{
  margin-bottom:10px;
  font-size:16px;
  overflow:hidden;
}
            }

            p {
              font-size: 16px;
              @include mobile{

                font-size:13px;

              }

            }
           .projectlink {
              font-size: 14px;
              font-weight: 900;
              text-decoration: underline;
              cursor: pointer;
              color:blue;
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          @include mobile{


          }
          img {
            width: 650px;
            transform: rotate(2deg);

          }
        }
      }
    }
  }
}
